<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.modules.sys.mapper.AppraisePermissionsMapper">
    <resultMap id="healthyClassResultMap" type="com.gxa.modules.sys.entity.ClassGrade">
        <id property="classId" column="class_id"/>
        <result property="classGradeName" column="class_grade_name"/>
    </resultMap>

    <select id="queryByHeadteacherClass" resultMap="healthyClassResultMap" >
        SELECT cg.class_id,class_grade_name
        FROM class_grade cg,(
            SELECT class_id
            FROM teacher_class tc,
                 (SELECT teacher_jobno
                  FROM teacher
                  WHERE user_id = #{userId}) t
            WHERE tc.teacher_jobno = t.teacher_jobno) v
        WHERE v.class_id = cg.class_id
    </select>
    <select id="queryByTeacherClass" resultMap="healthyClassResultMap" >
        SELECT cg.class_id,class_grade_name
        FROM class_grade cg,
             (SELECT teacher_jobno
              FROM teacher
              WHERE user_id = #{userId}) t
        WHERE cg.class_teacher = t.teacher_jobno
    </select>
    <select id="queryByAppraiseUser" resultMap="healthyClassResultMap" >
        SELECT class_id,class_grade_name
        FROM class_grade
    </select>
    <resultMap id="healthyTeacherResultMap" type="com.gxa.modules.sys.entity.Student">
        <id column="student_id" property="studentId"/>
        <result property="studentName" column="student_name"/>

    </resultMap>
    <select id="queryByAppraiseStudent" resultMap="healthyTeacherResultMap" >
        SELECT student_name,student_id
        FROM student
        WHERE class_id = #{classId}
    </select>
</mapper>