<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.modules.sys.mapper.VoteMapper">
    <resultMap id="queryNoResultMap" type="voteList">
        <id property="voteId" column="vote_id"/>
        <result property="voteTitle" column="vote_title"/>
        <result property="voteStatus" column="vote_status"/>
        <result property="voteScope" column="vote_scope"/>
        <result property="user.userId" column="user_id"/>
        <result property="user.userName" column="user_name"/>
        <result property="voteStartTime" column="vote_start_time"/>
        <result property="voteEndTime" column="vote_end_time"/>
    </resultMap>
    <select id="queryNo" resultMap="queryNoResultMap">
        SELECT vt.vote_id,vt.vote_title,vt.vote_status,vt.vote_scope,u.user_id,u.user_name,vt.vote_start_time
        FROM vote_table vt,user u
        WHERE vt.vote_user_id=u.user_id AND vt.vote_isdelete=1
    </select>

    <select id="queryAllVote" resultMap="queryNoResultMap">
        SELECT vt.vote_id,vt.vote_title,vt.vote_status,vt.vote_scope,u.user_id,u.user_name,vt.vote_start_time,vt.vote_end_time
        FROM vote_table vt,user u
        WHERE vt.vote_user_id=u.user_id AND vt.vote_isdelete=1
            <if test="voteForm.voteStartTime != null">
                <![CDATA[ AND DATE_FORMAT(vt.vote_start_time,'%Y-%m-%d')>=DATE_FORMAT(#{voteForm.voteStartTime},'%Y-%m-%d')]]>
            </if>
            <if test="voteForm.voteEndTime != null">
                <![CDATA[ AND DATE_FORMAT(vt.vote_start_time,'%Y-%m-%d')<=DATE_FORMAT(#{voteForm.voteEndTime},'%Y-%m-%d')]]>
            </if>
            <if test="voteForm.voteStatus != null and voteForm.voteStatus != '' ">
                AND vt.vote_status=#{voteForm.voteStatus}
            </if>
            <if test="voteForm.voteTitleOrName != null and voteForm.voteTitleOrName != '' ">
                AND CONCAT(vt.vote_title,u.user_name) LIKE CONCAT('%',#{voteForm.voteTitleOrName},'%')
            </if>
    </select>

    <resultMap id="queryByVoteIdResult" type="voteList">
        <id property="voteId" column="vote_id"/>
        <result property="voteTitle" column="vote_title"/>
        <result property="user.userId" column="user_id"/>
        <result property="user.userName" column="user_name"/>
        <result property="voteStartTime" column="vote_start_time"/>
        <result property="voteEndTime" column="vote_end_time"/>
        <result property="voteExplain" column="vote_explain"/>
        <result property="voteType" column="vote_type"/>
        <result property="voteScope" column="vote_scope"/>
        <result property="voteIsopen" column="vote_isopen"/>
        <collection property="voteRoles" ofType="com.gxa.modules.sys.entity.Role">
            <id property="roleId" column="role_id"/>
            <result property="roleName" column="role_name"/>
        </collection>
        <collection property="voteOptions" ofType="com.gxa.modules.sys.entity.VoteOption">
            <id property="id" column="void"/>
            <result property="voteOption" column="vote_option"/>
        </collection>
    </resultMap>
    <select id="queryByVoteId" resultMap="queryByVoteIdResult">
        SELECT vt.vote_id,vt.vote_title,vt.vote_status,vt.vote_isopen,vt.vote_scope,u.user_id,u.user_name,vt.vote_start_time,vt.vote_end_time,vt.vote_explain,vt.vote_type,r.role_id,r.role_name,vo.id void,vo.vote_option
        FROM vote_table vt,vote_role vr,role r,user u,vote_options vo
        WHERE vt.vote_id=vr.vote_id AND vr.role_id=r.role_id AND vt.vote_user_id=u.user_id AND vt.vote_id=vo.vote_id AND vt.vote_isdelete=1 AND vt.vote_id=#{voteId}
    </select>
    <select id="countOptionPoll" resultType="java.lang.Integer">
        SELECT COUNT(vo.id)
        FROM vote_option_poll vop,vote_options vo,vote_table vt
        WHERE vop.option_id = vo.id AND vo.vote_id = vt.vote_id  AND vo.id=#{voteOptionId}
        GROUP BY vop.option_id
    </select>

    <resultMap id="queryByUserIdTeacher" type="teacher">
        <result property="user.userId" column="user_id"/>
        <result property="course" column="course"/>
    </resultMap>
    <select id="queryByUserId" resultMap="queryByUserIdTeacher">
        SELECT t.user_id,t.course
        FROM teacher t
        WHERE t.user_id=#{userId}
    </select>
    <resultMap id="queryByParentUserIdResult" type="studentParent">
        <result property="user.userId" column="user_id"/>
        <result property="relation" column="relation"/>
    </resultMap>
    <select id="queryByParentUserId" resultMap="queryByParentUserIdResult">
        SELECT user_id,relation FROM student_parent WHERE user_id=#{userId}
    </select>

    <select id="queryIsPoll" resultType="java.lang.Integer">
        SELECT vop.user_id
        FROM vote_options vo,vote_option_poll vop
        WHERE vo.id=vop.option_id AND vote_id=#{voteId} AND vop.user_id=#{userId}
    </select>

    <resultMap id="queryRoleResult" type="role">
        <id property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
    </resultMap>
    <select id="queryRole" resultMap="queryRoleResult">
        SELECT r.role_id,r.role_name
        FROM vote_role vr,role r
        WHERE vr.role_id=r.role_id AND vr.vote_id=#{voteId}
    </select>

    <insert id="addSubmitVote" >
        INSERT INTO vote_option_poll(option_id,user_id,poll_status)
        VALUES(#{voteOptionId},#{userId},1)
    </insert>

    <update id="updateVoteIsDelete">
        UPDATE vote_table
        SET vote_isdelete=2
        WHERE vote_id=#{voteId}
    </update>

    <resultMap id="queryByUderIdResult" type="voteList">
    <id property="voteId" column="vote_id"/>
    <result property="voteTitle" column="vote_title"/>
    <result property="user.userId" column="user_id"/>
    <result property="user.userName" column="user_name"/>
    <result property="voteEndTime" column="vote_end_time"/>
    <result property="voteStatus" column="vote_status"/>
    </resultMap>
    <select id="queryVoteByUserId" resultMap="queryByUderIdResult">
        SELECT vt.vote_id,vt.vote_title,vt.vote_status,u.user_id,u.user_name,vt.vote_end_time
        FROM vote_table vt,user u
        WHERE vt.vote_user_id=u.user_id AND vt.vote_isdelete=1 AND vt.vote_user_id=#{userId}
    </select>

    <select id="queryUserIdByVoteId" resultType="java.lang.Integer">
        SELECT vote_user_id
        FROM vote_table
        WHERE vote_id=#{voteId}
    </select>

    <select id="queryUserIdsByUserId" resultType="java.lang.Integer">
        SELECT sp.user_id
        FROM teacher t,class_grade cg,student s,student_parent sp
        WHERE t.teacher_jobno=cg.class_teacher AND cg.class_id=s.class_id AND s.student_id=sp.student_id AND t.user_id=#{teacherUserId}
    </select>

    <select id="queryVoteIdMax" resultType="java.lang.Integer">
        SELECT max(vote_id)
        FROM vote_table
    </select>

    <insert id="addVoteTable" parameterType="voteList">
        INSERT INTO vote_table(vote_id,vote_title,vote_explain,vote_type,vote_start_time,vote_end_time,vote_scope,vote_isopen,vote_user_id,vote_status,vote_isdelete)
        VALUES(#{voteId},#{voteTitle},#{voteExplain},#{voteType},#{voteStartTime},#{voteEndTime},#{voteScope},#{voteIsopen},#{user.userId},#{voteStatus},1)
    </insert>

    <insert id="addVoteOption">
        INSERT INTO vote_options(vote_id,vote_option)
        VALUES(#{voteId},#{voteOption})
    </insert>

    <insert id="addVoteRole">
        INSERT INTO vote_role(vote_id,role_id)
        VALUES(#{voteId},#{roleId})
    </insert>

</mapper>